{% extends "admin_base.html" %}
{% load static %}
{% block title %}Витрати{% endblock %}
{% block afterhead %}
    <link rel='stylesheet' type='text/css' href='{% static 'css\bootstrap.css' %}'/>
{% endblock %}
{% block content %}
<div class="container" class="white_content">
    <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
        <h2 align="center" class="pop-header mt-3 display-4">Мої витрати</h2>
      </div>
    {% comment %} <h1>{{ user.username }}</h1> {% endcomment %}
    <a class="btn btn-primary btn btn-primary" href="{% url 'user_create' %}">Додати витрату</a>
    <a class="btn btn-primary btn btn-danger" href="{% url 'delete_all_data' %}">Видалити всі витрати</a>

    <form action="" class='mt-3'>
        <div class="input-group">
            <select class="custom-select" style="border-radius: 10px 0 0 10px;" name="q">
              <option selected>Оберіть категорію...</option>
                {% for key, value in category.items   %}
                    <option value={{ key }}>{{ value }}</option>
                {% endfor %}
            </select>
            <div class="input-group-append">
                <button class="btn btn-outline-secondary" type="submit" style="border-radius: 0 10px 10px 0;">Пошук</button>
            </div>
          </div>
    </form>
    <div class="row mt-3">
        <table class="table table-bordered" id="table_users">
            <thead>
            <tr>
                <th>Назва витрати</th>
                <th>Сума</th>
                <th>Категорія</th>
                <th>Дата</th>
                <th>Редагувати</th>
                <th>Видалити</th>
            </tr>
            </thead>
            <tbody>
                {% for user in users %}
                    <tr>
                        <td>{{ user.name }}</td>
                        <td>{{ user.price }} грн.</td>
                        <td>{{ user.get_category_display }}</td>
                        <td>{{ user.date|date:"d.m.Y" }}</td>
                        <td>
                            <a class="btn btn-primary btn btn-primary" href="{% url 'user_update' user.pk %}">Редагувати</a>
                        </td>
                        <td>
                            <a class="btn btn-primary btn btn-danger" href="{% url 'user_delete' user.pk %}">Видалити</a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
        </table>
    </div>
</div> 
{% endblock %}
