{% extends "admin_base.html" %}
{% load static %}
{% block title %}Редагування{% endblock %}
{% block afterhead %}
    <link rel='stylesheet' type='text/css' href='{% static 'css\bootstrap.css' %}'/>
{% endblock %}
{% block content %}
    <div class="container-fluid mt-3">
        <form action="" method="post" class="form-horizontal col-sm-12 col-md-6 col-lg-4 shadow p-1">
            {% csrf_token %}
            {{ form.as_p }}
            <div class=" form-user p-2">
                <button type="submit" class="btn btn-primary shadow_head">Зберегти</button>
                <a class="btn btn-primary btn-primary" href="{% url 'user_list' %}">Відминити</a>
            </div>
        </form>
    </div>
</body>
{% endblock %}